@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0
}

body{
    background-color: #264653;
}

.app{
    background-color: #3fbea9;
}

.title{
    font-family: 'Fredoka One', cursive;
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    color: #e9c46a;
    letter-spacing: 4px;
}
form, .resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}

#fsubmit{
    margin-top: 20px;
}

.cards__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 20px;
}

.card{
    margin-right: 5%;
    border: 2px dashed #b35e19;
    padding: 10px;
}

.margin-right{
    margin-right: 10px;
}

.resultado{
    margin-top: 40px;
}

.none{
    display: none
}